const char* ssid = "";
const char* password = "";

const char* server = "";
const int port = 465;

// base64でエンコード
const String username = "";
const String mail_password = "";

const String from = "";
const String to = "";